*{
    margin: 0%;
    padding: 0;
    margin: 2px;
}

head{   
    background: url(imagenes/banner.jpg) ;
    border: solid 2px #000;
    margin: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;

}

html{   

    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: -90%;
   
    
}
header {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-style: inherit;
   
    color: #000;
    font-size: 20px;
    height: 200px;
    background-image: url(imagenes/banner.jpg); 
    border: solid 1px #000
    
}

body{   
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    background-color: rgb(9, 75, 44);
    font-weight: normal;

}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: rgb(51, 13, 82);
}

h2 {
    color: rgb(0, 0, 0);
}

.parrafoCatalogo {
    background-color: rgb(10, 179, 100);
    color: #000;
}

.listas {
    color: rgb(84, 3, 150) ;
    list-style: none;
    text-align: right;
    margin: 15px;
    text-decoration: none;
}

footer {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(124, 177, 124), green) ;
    color: #000;
    border: solid 1px #000;
    text-align: center;
   
}

p {
    
    color: black;
}

.menu {
   
    color: rgb(0, 0, 0) ;
    list-style: none;
    display: inline-block;  
    margin-top: 54px;
}



.recetas {
    color: rgb(0, 0, 0) ;
    text-align: left;
    margin: 1px;
    list-style: none;
    text-transform: initial;
    padding: 18px;
    

}

.ingredientes{
   margin: 20px;
   color: rgb(0, 0, 0);
}

.Tabla{
width: 100%;

}

.parrafoDerecha{
    width: 500px ;
    height: 28vh;
    text-align: left;
    display: inline ;
   padding: 30px 5px;
}

.catalogoMenu{
    text-decoration: none;
    float: left;
    text-align: left;
    list-style: none;

}

nav li a{
background-color: #000;
color: #fff;
text-decoration: none;
padding: 10px 15px;
display: block;
}

.nav>li{
    float: right;
}

.nav li a:hover{
background-color: #434343;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul{
    display: block;
}
.nav1{
    margin-top: 2px;
}

.sustrato{
  margin: 10px 15px;
 
  padding: 60px 30px;
  
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;
        
        margin-right: -80px;
        padding-top: -50px;
        transform: translate(20px, 10px);
}       
    .div2 { grid-area: 1 / 2 / 2 / 3;
            background-image: linear-gradient(rgb(124, 177, 124), green) ;
            padding: 80px; }
    .div3 { grid-area: 2 / 1 / 3 / 2;
        background-image: linear-gradient(rgb(124, 177, 124), green) ;
        padding: 110px; } 
    }
    .div4 { grid-area: 2 / 2 / 3 / 3;}
    .div5 { grid-area: 3 / 1 / 4 / 2; 
    margin-right: 150%;
    }
    .div6 { grid-area: 3 / 2 / 4 / 3; 
    
        background-image: linear-gradient(rgb(124, 177, 124), green) ;
        padding: 110px; }
     
        span{
            color: red;
            font-style: italic;
            font-weight: bold;
        }
        
        .flex-container{
            Border: 1px solid #000;
            background-color: rgb(10, 179, 100);
            
        }


        .menuFlex{
            display: flex;
            flex-flow: wrap-reverse wrap;
            margin: 5%;
            justify-content: flex-start;
            align-items: center;
                  
        }
        
h3{
    width:  2s;
}

h3:hover{
    width: 200px;
}

